<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="File" fileName="raxondb.log" immediateFlush="false"
			append="false">
			<PatternLayout pattern="%msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.athena.imis" level="INFO" additivity="true">
            <AppenderRef ref="File"/>
            
        </Logger>
        <Root level="ALL">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>